[user]
    name = superlc320
    email = luocan14@gmail.com
[push]
    default = current
[core]
    editor = vim
	pager = diff-so-fancy | less --tabs=4 -RFX
[diff]
    tool = vimdiff
[merge]
    tool = vimdiff
[color]
    ui = true
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = 11
    frag = magenta bold
    func = 146 bold
    commit = yellow bold
    old = red bold
    new = green bold
    whitespace = red reverse
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[alias]
    br = branch
    co = checkout
    cp = cherry-pick
    ct = commit
    cm = commit -m
    ca = commit -a -m
    df = diff
    ds = diff --staged
    lg = log --graph --oneline --all --decorate
    lg2 = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)— %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
    lp = log --pretty=oneline
    sa = stash apply
    ss = stash save
    st = status

[interactive]
	diffFilter = diff-so-fancy --patch
