[user]
	name = superlc320
	email = luocan14@gmail.com
[push]
	default = simple
[core]
	editor = vim
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[color]
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[alias]
	co = checkout
    br = branch
    cm = commit -m
    ca = commit -a -m
    st = status
    lg = log --graph --oneline --all --decorate
    df = diff

